.DS_Store
.runtime/
__pycache__/
*.pyc
bin/
obj/
dist/
*.user
client-windows/app/
client-windows/*.dll
client-windows/*.exe
client-windows/*.pdb
client-windows/*.deps.json
client-windows/*.runtimeconfig.json
client-windows/*.staticwebassets.endpoints.json
client-windows/web.config
client-android/build/
client-android/dist/
client-android/.debug/
